// {
//   "presets": ["@babel/preset-env"]
// }
{
  "presets": [
    "@babel/env",
    "@babel/preset-react",
    "@babel/typescript"
  ],
  "plugins": [
    // "@babel/proposal-class-properties",
    // "@babel/proposal-object-rest-spread",

    "@babel/plugin-proposal-class-properties",
    ["import", { "libraryName": "antd", "style": "css" }] 

  ]
}